:root {
  --accent-color: #2196f3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --accent-color-logo: #2196f3;
  --secondary-color: #ffffff;
  --contacts-color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.footer-btn-send, .modal-close-btn, .social-list-link-footer, .social-list-link, .content__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  background: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
button:hover, button:focus {
  color: var(--secondary-color);
  background-color: transparent;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 480px) {
  .menu-container {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    margin-top: 30px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    margin-top: 30px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 480px) {
  .section__container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .section__container {
    margin-top: -15px;
    margin-bottom: -15px;
  }
}
@media screen and (min-width: 768px) {
  .container-box {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container-box {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.section-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 999;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-btn :hover,
.mobile-menu__close-btn :focus {
    fill: var(--accent-color);
  }
  .checklist {
    display: block;
  }
  .checklist__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    padding-bottom: 32px;
  }
  .checklist__item :hover,
.checklist__item :focus {
    color: var(--accent-color);
  }
  .checklist__item:last-child {
    padding-bottom: 302px;
  }
  .info__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-bottom: 32px;
  }
  .info__item:last-child {
    padding-bottom: 64px;
  }
  .info__item-grey {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .media {
    display: flex;
  }
  .media__item {
    padding-right: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .media__link {
    color: rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.section__heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__heading {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .grid {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    flex-wrap: nowrap;
    margin: 0;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: 0;
  }
}

.net {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .net {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .net {
    flex-wrap: nowrap;
    margin: 0;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
  }
}

.case {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .case {
    justify-content: center;
    flex-wrap: nowrap;
    margin: -30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .case {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 50px;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .box {
    margin-left: -30px;
    margin-right: -30px;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    margin: -15px;
  }
}

.main-header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
}

.main-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation__item {
    margin-right: auto;
  }
}
.site-nav {
  display: flex;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-right: auto;
  }
}
.list-contacts {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .list-contacts {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .list-contacts {
    flex-direction: row;
    gap: 30px;
  }
}

.menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-color-logo);
  margin-right: 87px;
}

.logo__title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #000000;
}

.contacts__logo {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__logo:hover, .contacts__logo:focus {
  color: var(--accent-color);
}

.logo-contacts {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__item {
    margin-right: auto;
  }
}
.menu__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
  margin-right: 50px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu__link:last-child {
    margin-right: 0;
  }
}

.mobile-menu-open {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 767px) {
  .mobile-menu-open {
    display: none;
  }
}

.contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.contacts:hover, .contacts:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts {
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
  }
}

.current {
  position: relative;
  color: #2196f3;
}

.hero {
  padding: 118px 0;
  background: #2f303a;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile.jpg");
  background-size: cover;
  background-color: #c4c4c4;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url(/images/hero/mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/images/hero/tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url(/images/hero/tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(/images/hero/desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url(/images/hero/desktop@2x.jpg);
  }
}
.main-title {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 30px;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .main-title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    max-width: 696px;
  }
}

.modal-btn {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.flex-item {
  margin-right: 8px;
}

.flex-item:last-child {
  margin-right: 0;
}

.btn-active {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border: none;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border-radius: 4px;
}
.btn-active:hover, .btn-active:focus {
  color: var(--secondary-color);
  background-color: #188ce8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.current-1 {
  background: var(--accent-color);
  color: var(--secondary-color);
}

.box__element {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.box__element:hover, .box__element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.box__element:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .box__element {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .box__element {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .box__element:last-child {
    margin-bottom: 15px;
  }
}

.wrapper__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.wrapper {
  display: block;
  width: 100%;
  text-decoration: none;
}

.wrapper__img {
  position: relative;
  overflow: hidden;
}

.wrapper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
}

.box__element:hover .wrapper__overlay {
  transform: translate(0, 0);
}

.wrapper__title {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.wrapper__description {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.content__link {
  width: 100%;
  margin-bottom: 30px;
  margin-right: 0;
  display: flex;
  justify-content: center;
}
.content__link:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .content__link {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.content__item {
  display: block;
  text-align: start;
}

.content__thumb {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.content__title {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .content__title {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .content__title {
    justify-content: start;
  }
}

.content__descr {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .content {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    margin: -15px;
    flex-wrap: nowrap;
  }
}

.action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.element {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .instance {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .instance {
    padding-top: 0;
  }
}
.container-team {
  background-color: #f5f4fa;
}

.net__list {
  background-color: #fff;
  width: 270px;
  margin-top: 0;
  margin-bottom: 30px;
  margin: 15px;
  width: 450px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .net__list {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .net__list:nth-child(4n) {
    margin-right: 0;
  }
}

.text-box {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 450px;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .text-box {
    width: 100%;
  }
}

.subtitle {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.about {
  line-height: 1.19;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-list-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon, .social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--secondary-color);
}

.social-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.grid__item {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 60px) / 2);
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.grid__item:hover, .grid__item:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.grid__item:hover .company__icon, .grid__item:hover .company__icon, .grid__item:focus .company__icon, .grid__item:focus .company__icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .grid__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__item {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .grid__item:last-child {
    margin-right: 0;
  }
}
.company__icon {
  fill: #afb1b8;
}

.bottom {
  background: #2f303a;
  justify-content: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom__container {
  padding-top: 0;
  padding-bottom: 0;
}

.footer-containe {
  display: block;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer-containe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-containe {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.logo-footer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
@media screen and (max-width: 1199px) {
  .logo-footer {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    justify-content: start;
  }
}

.logo-title-white {
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.list-footer {
  margin-left: auto;
  margin-right: auto;
}

.section-description-black {
  color: var(--secondary-color);
  font-style: normal;
  margin-bottom: 8px;
}

.menu-footer {
  width: 206px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .menu-footer {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu-footer {
    margin-top: 0;
    margin-left: 70px;
  }
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    justify-content: start;
  }
}

.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list-link-footer:hover, .social-list-link-footer:focus {
  background-color: var(--accent-color);
}

.social-link-icon-footer {
  fill: #fff;
}

.logo-list {
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50% -50%) scale(0.7);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  min-width: 450px;
  min-height: 609px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.footer-form {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: end;
    margin-left: 93px;
  }
}

.footer-form-field {
  width: 358px;
  margin-right: 12px;
}

.footer-form-input-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form-input-desc {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.footer-form-input-wrapper {
  min-width: 358px;
  height: 50px;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-btn-send {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  min-width: 200px;
  height: 50px;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-send:hover, .footer-btn-send:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .footer-btn-send {
    margin-right: 0;
    margin-left: 0;
  }
}

.footer-btn-send-icon {
  margin-left: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #000;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color-logo);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color-logo);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color-logo);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  margin-bottom: 30px;
}
.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 15px;
  content: "";
  background-image: url(../images/checkbox-black.svg);
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 7px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url(../images/checkbox-blue.svg);
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: #2196F3;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .modal-form-check-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    margin-left: 12px;
  }
}

.modal-form-check-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal-form-check-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
  }
}

.modal-form-submit {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */